/* COLORS */
#foreground {fill: goldenrod;}
#background {fill: black;}

#text_bg {fill: #2b2b2b;}

#step_bg {x: 333; y: 50%;}
#step_fg {x: 333; y: 50%;}

#batt_bg {x: 308; y: 20%;}
#batt_fg {x: 308; y: 20%;}

#heart_bg {x: 267; y: 85%;}
#heart_fg {x: 267; y: 85%;}
/* #batt_fg {x: 308; y: 80%;} */

#temp_bg {x: 50%; y: 20%;}
#temp_fg {x: 50%; y: 20%;}