/* GENERAL */
#stat_fg {
  fill: goldenrod;
  /* text-anchor: middle; */
  /* opacity: 0.10; */
}

#lead_sp {
  fill: goldenrod;
  /* text-anchor: middle; */
  opacity: 0.0;
}

/* STEPS */
#step_bg {
  x: 50%;
  y: 50%;
  fill: goldenrod;
  /* text-anchor: middle; */
  opacity: 0.15;
}
/* positions */
#step_fg {
  x: 50%; 
  y: 50%;
}

/* HEART */
#heart_bg {
  x: 50%;
  y: 85%;
  fill: goldenrod;
  /* text-anchor: middle; */
  opacity: 0.15;
}
/* positions */
#heart_fg {
  x: 50%; 
  y: 85%;
}

/* BATTERY */
#batt_bg {
  x: 50%;
  y: 20%;
  fill: goldenrod;
  opacity: 0.15;
}

#batt_fg {
  x: 50%; 
  y: 20%; 
  fill: goldenrod;
}